@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityRole>

@{
    ViewData["title"] = "List Role" ;

}
<style>
    .btn-warning {
        background: linear-gradient(90deg, #fbc2eb, #a6c1ee) !important;
    }

    .btn-primary {
        background: linear-gradient(90deg, #fbc2eb, #a6c1ee) !important;
    }

</style>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h3>List Role</h3>

    <a class="btn btn-primary" asp-action="Create" asp-controller="Role">Thêm quyền</a>

    <table class="table" id="myTable" id="myTable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Tên quyền</th>
                <th>Chỉnh sửa</th>

                
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>
                        <a asp-action="Edit" class="btn btn-warning btn-sm" asp-controller="Role" asp-route-Id="@item.Id">Chính sửa</a>
                        <a asp-action="Delete" class="btn btn-danger btn-sm" asp-controller="Role" asp-route-Id="@item.Id">Xóa</a>
                    </td>


                    
                </tr>
            }
        </tbody>
    </table>

</body>
</html>
