@model UserModel
@{
	ViewData["title"] = "Forgot Password";
}
<style>
	.btn-default {
		background: linear-gradient(90deg, #fbc2eb, #a6c1ee) !important;
	}
</style>
<section>
	<!--form-->
	<div class="container">
		<div class="row">


			<div class="col-sm-8 col-sm-offset-1">
				<div class="signup-form">
					<!--sign up form-->
					<h2>Quên mật khẩu</h2>
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<form asp-action="SendMailForgotPass" asp-controller="Account">

						<div class="form-group">
							<label>Email của bạn</label>
							<input asp-for="Email" placeholder="
Nhập email để lấy lại mật khẩu" class="form-control"> </input>
							<span asp-validation-for="Email" class="text-danger"></span>
						</div>

						<button type="submit" class="btn btn-default">Gửi đến mail của bạn</button>
					</form>
				</div><!--/sign up form-->
			</div>
		</div>
	</div>
</section>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
